// scss-lint:disable all
%nyc-icon {
  display: inline-block;
  font-family: "nyc-icon";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%nyc-icon-arrow-down-filled { content: "\EA01"; }
%nyc-icon-arrow-down-outlined { content: "\EA02"; }
%nyc-icon-arrow-down { content: "\EA03"; }
%nyc-icon-arrow-left { content: "\EA04"; }
%nyc-icon-arrow-right { content: "\EA05"; }
%nyc-icon-arrow-up-filled { content: "\EA06"; }
%nyc-icon-arrow-up-outlined { content: "\EA07"; }
%nyc-icon-arrow-up { content: "\EA08"; }
%nyc-icon-avatar { content: "\EA09"; }
%nyc-icon-briefcase { content: "\EA0A"; }
%nyc-icon-calendar { content: "\EA0B"; }
%nyc-icon-chat { content: "\EA0C"; }
%nyc-icon-check { content: "\EA0D"; }
%nyc-icon-close-cross { content: "\EA0E"; }
%nyc-icon-cropper { content: "\EA0F"; }
%nyc-icon-delete { content: "\EA10"; }
%nyc-icon-edit { content: "\EA11"; }
%nyc-icon-education { content: "\EA12"; }
%nyc-icon-favorite-empty { content: "\EA13"; }
%nyc-icon-favorite-filled { content: "\EA14"; }
%nyc-icon-file { content: "\EA15"; }
%nyc-icon-flat-boxes { content: "\EA16"; }
%nyc-icon-flat-desk-chair { content: "\EA17"; }
%nyc-icon-flat-headset { content: "\EA18"; }
%nyc-icon-flat-laptop { content: "\EA19"; }
%nyc-icon-flat-planning { content: "\EA1A"; }
%nyc-icon-flat-street { content: "\EA1B"; }
%nyc-icon-home { content: "\EA1C"; }
%nyc-icon-location { content: "\EA1D"; }
%nyc-icon-maker-yc { content: "\EA1E"; }
%nyc-icon-matching-empty { content: "\EA1F"; }
%nyc-icon-menu-hamburger { content: "\EA20"; }
%nyc-icon-method-draw-image { content: "\EA21"; }
%nyc-icon-network-facebook-inverted { content: "\EA22"; }
%nyc-icon-network-facebook { content: "\EA23"; }
%nyc-icon-network-google-inverted { content: "\EA24"; }
%nyc-icon-network-google { content: "\EA25"; }
%nyc-icon-network-insta-inverted { content: "\EA26"; }
%nyc-icon-network-insta { content: "\EA27"; }
%nyc-icon-network-linkedin-inverted { content: "\EA28"; }
%nyc-icon-network-linkedin { content: "\EA29"; }
%nyc-icon-network-rss-inverted { content: "\EA2A"; }
%nyc-icon-network-rss { content: "\EA2B"; }
%nyc-icon-network-twitter-inverted { content: "\EA2C"; }
%nyc-icon-network-twitter { content: "\EA2D"; }
%nyc-icon-network-whatsapp-inverted { content: "\EA2E"; }
%nyc-icon-network-xing-inverted { content: "\EA2F"; }
%nyc-icon-network-xing { content: "\EA30"; }
%nyc-icon-network-youtube-inverted { content: "\EA31"; }
%nyc-icon-network-youtube { content: "\EA32"; }
%nyc-icon-notification { content: "\EA33"; }
%nyc-icon-operator-minus { content: "\EA34"; }
%nyc-icon-operator-plus { content: "\EA35"; }
%nyc-icon-pause { content: "\EA36"; }
%nyc-icon-phrase { content: "\EA37"; }
%nyc-icon-play { content: "\EA38"; }
%nyc-icon-round-info { content: "\EA39"; }
%nyc-icon-search { content: "\EA3A"; }
%nyc-icon-shape { content: "\EA3B"; }
%nyc-icon-share-facebook-colored { content: "\EA3C"; }
%nyc-icon-share-facebook-stripped { content: "\EA3D"; }
%nyc-icon-share-facebook { content: "\EA3E"; }
%nyc-icon-share-link { content: "\EA3F"; }
%nyc-icon-share-linkedin-colored { content: "\EA40"; }
%nyc-icon-share-linkedin { content: "\EA41"; }
%nyc-icon-share-mail-inverted { content: "\EA42"; }
%nyc-icon-share-mail { content: "\EA43"; }
%nyc-icon-share-print-inverted { content: "\EA44"; }
%nyc-icon-share-print { content: "\EA45"; }
%nyc-icon-share-twitter-colored { content: "\EA46"; }
%nyc-icon-share-twitter-stripped { content: "\EA47"; }
%nyc-icon-share-twitter { content: "\EA48"; }
%nyc-icon-time { content: "\EA49"; }
%nyc-icon-tip { content: "\EA4A"; }
%nyc-icon-toast-check { content: "\EA4B"; }
%nyc-icon-toast-error { content: "\EA4C"; }
%nyc-icon-toast-information { content: "\EA4D"; }
%nyc-icon-toast-warning { content: "\EA4E"; }
%nyc-icon-video { content: "\EA4F"; }
%nyc-icon-fullscreen { content: "\EA50"; }
%nyc-icon-download { content: "\EA51"; }
%nyc-icon-more-options { content: "\EA52"; }
%nyc-icon-graph-line-up { content: "\EA53"; }
%nyc-icon-phone { content: "\EA54"; }
%nyc-icon-square { content: "\EA55"; }
%nyc-icon-horeca { content: "\EA56"; }
%nyc-icon-globe { content: "\EA57"; }
%nyc-icon-arrow-long { content: "\EA58"; }
%nyc-icon-cross { content: "\EA59"; }
%nyc-icon-check-filled { content: "\EA60"; }
%nyc-icon-time-filled { content: "\EA61"; }
%nyc-icon-piggybank { content: "\EA62"; }
%nyc-icon-office { content: "\EA63"; }
%nyc-icon-paper { content: "\EA64"; }
%nyc-icon-arrow-down-slim { content: "\EA65"; }
%nyc-icon-arrow-up-slim { content: "\EA66"; }
%nyc-icon-operator-plus-slim { content: "\EA67"; }
%nyc-icon-copy { content: "\EA68"; }
%nyc-icon-sun { content: "\EA69"; }
%nyc-icon-operator-plus-slim-filled { content: "\EA70"; }
%nyc-icon-edit-filled { content: "\EA71"; }
%nyc-icon-money { content: "\EA72"; }
%nyc-icon-sending { content: "\EA73"; }
%nyc-icon-validation-success { content: "\EA74"; }
%nyc-icon-validation-error { content: "\EA75"; }
%nyc-icon-arrow-down-long { content: "\EC01"; }
%nyc-icon-arrow-left-long { content: "\EC02"; }
%nyc-icon-arrow-left-slim { content: "\EC03"; }
%nyc-icon-arrow-right-long { content: "\EC04"; }
%nyc-icon-arrow-right-slim { content: "\EC05"; }
%nyc-icon-arrow-up-long { content: "\EC06"; }
%nyc-icon-bell-slash { content: "\EC07"; }
%nyc-icon-bolt { content: "\EC08"; }
%nyc-icon-drag { content: "\EC09"; }
%nyc-icon-euro-circle { content: "\EC0A"; }
%nyc-icon-exclamation-triangle-filled { content: "\EC0B"; }
%nyc-icon-external-link-alt { content: "\EC0C"; }
%nyc-icon-eye { content: "\EC0D"; }
%nyc-icon-filter { content: "\EC0E"; }
%nyc-icon-info-circle-filled { content: "\EC0F"; }
%nyc-icon-map { content: "\EC10"; }
%nyc-icon-minus-circle-filled { content: "\EC11"; }
%nyc-icon-minus-circle { content: "\EC12"; }
%nyc-icon-network-whatsapp { content: "\EC13"; }
%nyc-icon-paperclip { content: "\EC14"; }
%nyc-icon-pause-circle { content: "\EC15"; }
%nyc-icon-play-circle { content: "\EC16"; }
%nyc-icon-play-outline { content: "\EC17"; }
%nyc-icon-plus-circle { content: "\EC18"; }
%nyc-icon-send { content: "\EC19"; }
%nyc-icon-sliders { content: "\EC1A"; }
%nyc-icon-sort-amount-down { content: "\EC1B"; }
%nyc-icon-sort { content: "\EC1C"; }
%nyc-icon-star-filled { content: "\EC1D"; }
%nyc-icon-star { content: "\EC1E"; }
%nyc-icon-thumbs-down { content: "\EC1F"; }
%nyc-icon-thumbs-up { content: "\EC20"; }
%nyc-icon-share-whatsapp { content: "\EC21"; }
%nyc-icon-upload { content: "\EC22"; }
%nyc-icon-user { content: "\EC23"; }
%nyc-icon-calender { content: "\ED01"; }
%nyc-icon-circle { content: "\ED02"; }
%nyc-icon-expand-from-corner { content: "\ED03"; }
%nyc-icon-file-bookmark-alt { content: "\ED04"; }
%nyc-icon-file-check-alt { content: "\ED05"; }
%nyc-icon-file-check { content: "\ED06"; }
%nyc-icon-file-times { content: "\ED07"; }
%nyc-icon-fire { content: "\ED08"; }
%nyc-icon-frown { content: "\ED09"; }
%nyc-icon-key-skeleton-alt { content: "\ED0A"; }
%nyc-icon-navigator { content: "\ED0B"; }
%nyc-icon-padlock { content: "\ED0C"; }
%nyc-icon-pen { content: "\ED0D"; }
%nyc-icon-process { content: "\ED0E"; }
%nyc-icon-exchange-alt { content: "\ED0F"; }
%nyc-icon-circle-filled { content: "\ED10"; }
%nyc-icon-crosshairs { content: "\ED11"; }
%nyc-icon-comment-alt-dots { content: "\ED12"; }
%nyc-icon-circle-e { content: "\ED13"; }
%nyc-icon-step-forward { content: "\ED14"; }
%nyc-icon-refresh { content: "\ED15"; }
%nyc-icon-sync { content: "\ED16"; }
%nyc-icon-list-ul { content: "\ED17"; }
%nyc-icon-users-alt { content: "\ED18"; }
// scss-lint:enable all